.info{
    background-color: rgb(27, 1, 27);
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0 0 2% 0;
    box-shadow: 0 0 0 7px rgb(45, 13, 72),
        0 0 0 14px rgba(88, 39, 127, 0.6),
        0 0 0 21px rgba(148, 68, 214, 0.4);
   position: relative;
    &__title{
        font-size:  3vw;
        padding: 5%;
        margin: 0;
        color: white;
         text-shadow: 3px 3px 3px black, 0 0 1em blue, 0 0 0.2em blue;
         @media screen and (max-width:1439px){
            font-size:  6vw;
            padding: 10%;
          }
         @media screen and (max-width : 1023px) {
            font-size:  5vw;
            padding: 9%;
         }
         @media screen and (max-width : 767px) {
            font-size:  8vw;
            padding: 12%;
         }
         @media screen and (max-width : 420px) {
            font-size:  10vw;
            padding: 15%;
         }
    }
    &__btn{
      position: absolute;
      right: 3%;
      top:10%;
      border: none;
      border-radius: 25px;
      background: black;
      color: white;
      font-size: 1vw;
      padding: 0.5vw 1vw;
      transition: .3s ease;
      &:hover{
         transform: scale(1.2);
      }
    }
}