.movie-details{
    display: flex;
    font-size: 1vw;
    padding: 0 5% 1% 5%;
    .wrapper{
       display: inline-block;
       margin-left: 30px;
    }
    &__photo{
        width: 55%;
    }
    &__title{
        font-size: 2vw;
        font-weight: bold;
        text-decoration: none;
    }

    &__date{
        margin: 5px 0 10px 0;
        font-style: italic;
    }
    &__popularity{
        font-weight: bold;
        margin-left: 20px;
    }

    &__tagline{
        text-decoration: underline;
    }
    &__overview{
        margin: 0;
    }
    &__overview-text{
        margin: 5px 0;
    }
    &__genres{

        margin: 5px 0;
    }
    &__list{
        padding: 0 0 0 10px;
        margin: 0 0 10px 0;
        list-style-type: none;
    }

    &__homepage{
        color: black;
        text-decoration: none;
    }
    &__homepage:hover{
        color:rgba(108, 34, 113, 0.7) ;
    }
}