.movie-item{
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    box-shadow: 0 0 10px 3px rgb(122, 119, 119);
    font-size:  1vw;
    @media screen and (max-width:1439px){
        font-size:  2vw;
      }
     @media screen and (max-width : 1023px) {
        font-size:  3vw;
     }
     @media screen and (max-width : 767px) {

        font-size:  4vw;
     }
     @media screen and (max-width : 420px) {
        font-size:  5vw;
     }
    &__wrapper{
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px; 
        border-left: none ;
    }
    &__photo{
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        width: 80%;
        height: 100%;
        object-fit: cover;
        object-position: bottom;
    }
    &__title{
        font-size: 2vw;
        font-weight: bold;
        text-decoration: none; 
        @media screen and (max-width:1439px){
            font-size:  3vw;
          }
         @media screen and (max-width : 1023px) {
            font-size: 4vw;
         }
         @media screen and (max-width : 767px) {

            font-size:  5vw;
         }
         @media screen and (max-width : 420px) {
            font-size:  6vw;
         }
    }
    &__title:hover{
        color:rgba(108, 34, 113, 0.7) ;
    }
    &__rate{
        font-weight: bold;
        margin: 10px 0;
    }
    &__date{
        margin: 5px 0 10px 0;
        font-style: italic; 
    }
}
