.movie{
    position: relative;
   
    &__photo{
        border-radius: 10%;
        box-shadow: inset 4px 4px 5px rgba(164, 14, 174, 0.5), 4px 4px 5px rgb(199, 120, 191);
        width: 200px;
        height: 290px;
        z-index: -3;
    }
    &__title{
        display: inline-block;
        font-size: 1vw;
        line-height: 20px;
        font-weight: bold;
        margin:10px 0 0 0;
        text-decoration: none;
    }
    &__title:hover{
        color:rgba(108, 34, 113, 0.7) ;
    }
    &__date{
        margin: 0;
        font-size: 1vw;
    }
    &__popularity{
        z-index: 1;
        position: absolute;
        bottom: 60px;
        left: 5px;
        color: white;
        font-size: 15px;
        font-weight: bold;
    }
    &__popularity::before{
      z-index: -2;
      content: '';
      position: absolute;
      bottom: -7px;
      left: -3px;
      display: inline-block;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background-color: black;
    }
    
}

