.movie{
    position: relative;
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    @media screen and (max-width:1439px){
        width: 90%;
      }
     @media screen and (max-width : 1023px) {
        width: 90%;
     }
     @media screen and (max-width : 767px) {
        width: 90%;
     }
     @media screen and (max-width : 420px) {
        width: 100%;
     }
    &__photo{
        border-radius: 15%;
        width: 100%;
        height: 20%;
        max-width: 100%;
        z-index: -3;

    }
    &__title{
        display: inline-block;
        font-size: 1.4vw;
        font-weight: bold;
        text-decoration: none;
        text-align: left;
        padding: 0 10% 0 0 ;
        @media screen and (max-width:1439px){
            font-size:  2vw;
          }
         @media screen and (max-width : 1023px) {
            font-size:  3vw;
         }
         @media screen and (max-width : 767px) {

            font-size:  4vw;
         }
         @media screen and (max-width : 420px) {
            font-size:  6vw;
         }
    }
    &__title:hover{
        color:rgba(108, 34, 113, 0.7) ;
    }
    &__date{
        margin: 0;
        text-align: left;
        font-size: 1vw;
        @media screen and (max-width:1439px){
            font-size:  1.5vw;
          }
         @media screen and (max-width : 1023px) {
            font-size:  2.5vw;
         }
         @media screen and (max-width : 767px) {

            font-size:  3.5vw;
         }
         @media screen and (max-width : 420px) {
            font-size:  5.5vw;
         }
    }
    &__popularity{
        z-index: 1;
        position: absolute;
        top: 3%;
        left: 2%;
        color: white;
        font-size: 15px;
        font-weight: bold;
    }
    &__popularity::before{
      z-index: -2;
      content: '';
      position: absolute;
      top: -40%;
      left: -10%;
      display: inline-block;
      width: 1.5vw;
      height: 1.5vw;
      box-shadow: inset 4px 4px 5px rgba(164, 14, 174, 0.5), 4px 4px 5px rgb(199, 120, 191);
      border-radius: 50%;
      background-color: black;
    }
    
}

